<!-- Button trigger modal -->
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
  New List
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Create New List</h4>
      </div>
      <div class="modal-body">
        <form class="form">

          <label>List Name</label>
          <input ng-model="newList.name" ng-required>

          <label>List Description</label>
          <textarea placeholder="Your Description" ng-model="newList.description" ng-required></textarea>

        </form>
      </div>

      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="createNewList()" data-dismiss="modal">Create New List</button>
      </div>
    </div>
  </div>
</div>