<div class="panel panel-default" >
    <div class="panel-heading">
      <a class="pull-right" ng-click="deleteList()">Delete</a><br>
      <div ng-if="!editing[list.id].name" ng-click="changeEditing('name')">{{ list.name }}</div>

      <div ng-if="editing[list.id].name">
        <input ng-model="list.name">
        <a ng-click="updateList('name', list.name)">Done</a>
      </div>

    </div>

    <div class="panel-body">

      <div ng-if="!editing[list.id].description" ng-click="changeEditing('description')">
        <h6>{{ list.description }}</h6>
      </div>

      <div ng-if="editing[list.id].description">
        <h6>
          <textarea ng-model="list.description">{{ list.description }}</textarea></h6>
        <a ng-click="updateList('description', list.description)">Done</a>
      </div>
    <hr>
    <!-- <div ng-repeat></div> -->
      <div ng-repeat="card in list.cards">
        <card card="card" list="list"></card>

      </div>

    </div>
  </div>

</div>